{{if overview_movie}}
   <video autoplay loop width="73%" src="{{overview_movie}}"></video>
{{/if}}

<h1>
    {{title}}
</h1>

<p style="margin-bottom: 60px;">
    {{summary}}
</p>

<h2>Subsections in this section:</h2>
<ul>
   {{ nav :from="segment_1" }}
      <li>
         <a href="{{ url }}"{{ if is_current || is_parent }} class="on"{{ /if }}>{{ title }}</a>
         {{ if is_current || is_parent }}
            {{ if children }}
               <ul>{{ *recursive children* }}</ul>
            {{ /if }}
         {{ /if }}
      </li>
   {{ /nav }}
</ul>

<h2>All projects in this section:</h2>

{{collection:projects taxonomy:sections="{last_segment}"}}
   <li><a href="{{url}}">{{title}}</a></li>
{{/collection:projects}}


