{{if overview_movie}}
<video autoplay loop width="50%" src="{{overview_movie}}"></video>
{{/if}}

<h1>
    {{title}}
</h1>

<p>
    {{summary}}
</p>

<!-- further subsections if there are any -->
<!-- {{ nav :from="segment_1" }}
    {{children}}
        <a href="{{url}}">{{title}}</a>
    {{/children}}
{{ /nav }} -->

<h2>All {{last_segment}} projects:</h2>
<ul class="simpleList">
    {{collection:projects taxonomy:subsections="{last_segment}"}}
   <li><a href="{{url}}">{{title}}</a></li>
{{/collection:projects}}
</ul>
    
